/*SECCIÓN 2*/
.txt-black {
	color: black;
}
/*SECCIÓN 3*/
.box-bordergray {
	border: 1px solid #B3B3B3;
	padding: 3px;
	margin-top: 100px;
}
.box-gray1 {
	border: 1px solid #B3B3B3;
	width: 100%;
	height: 100% auto;
	padding: 10px;
	color: $back-orange;
	font-family: "bebas___-webfont" !important;
	margin-top: 10px;
}